<div *ngIf="error">
    {{ error }}
  </div>
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <label for="inputEmail">Email address:</label>
    <input name="email" type="email" placeholder="Email"  id="inputEmail" required (ngModel)="email">
    <label for="inputPassword">Password:</label>
    <input name="password" type="password" placeholder="Password"  id="inputPassword" required (ngModel)="password">
    <button type="submit" [disabled]="!formData.valid">Submit</button>
  </form>