<!-- <md-toolbar color="primary">
    <span>Navbar</span>
    <md-toolbar-row></md-toolbar-row>    
    <md-toolbar-row></md-toolbar-row>
    <md-toolbar-row><a [routerLink]="['/signup']">Register</a></md-toolbar-row>
</md-toolbar>   -->

<!-- Angular material not used, check whether that`s OK -->
<nav>
	<div class="nav-wrapper">
		<ul class="">
			<li><a [routerLink]="['/']">Home</a></li>
			<li><a [routerLink]="['/advertisements']">Advertisements</a></li>
			<li *ngIf="isLogedIn"><a [routerLink]="['/chats']">Chats</a></li>
		</ul>
		<ul class="right">
			<li><a *ngIf="isLogedIn === false" [routerLink]="['/signup']">Register</a></li>
			<li><a *ngIf="isLogedIn === false" [routerLink]="['/login']">Login</a></li>
			<li><a *ngIf="isLogedIn === true" [routerLink]="['/advertisement']">+ Advertisement</a></li>
			<li><a *ngIf="isLogedIn === true" [routerLink]="['/profile']">Profile</a></li>
			<li><a *ngIf="isLogedIn === true" (click)="signOut()">Sign Out</a></li>

		</ul>
	</div>
</nav>